.results {
    margin-top:100px;
}

.card1[data-clickable=true]{
    cursor: pointer;
    
  }

  .card1 p {
    font-family: sans-serif;
  font-size: 12px;
  }

  .card-title:after {
    font-size: 12px; 
  }

.results {
  text-align: center;
}

  h1, h3, h6 {
    font-family: 'Oswald', sans-serif;
    /* font-family: 'Russo One'; */
  }


  p {
    font-family: 'Nanum Gothic';

  }

  /*-------Index General-----------*/
  .searchheader {
    padding-top: 4%;
    letter-spacing: 4px;
  }
  
  /*------------- Index dropdowns-------- */
/* sizes the dropdowns */
  .select-wrapper {
    min-width:250px; 
    padding:20px;
}
  /* margin for dropdowns */
  .selectors {
    margin: 0% 10%;
  }
  /* places btn on index exactly where we want it */ 
   .selectors .grants-btn {
    padding-top:4%;
    padding-right:5%;
  } 
/* media query for btn on index page */
  @media screen and (max-width: 670px) {
    .selectors .grants-btn{
      max-width:100%;
      margin-bottom: 50%; 
    }
  }  


  /*----------------------BRANDLOGO--------------*/
  .nav-wrapper {
    padding-left: 25px;
  }

  .logo {
    padding-top: 4%;
    padding-bottom: 3%;
    width: 40%;
    height: auto;
  }

  /* Moves button down away form the nav bar */
#newsearchbtn {
  padding-top:3%;
}  

/* ----------- PAGES -- Form styling ----- */  

/* Adds padding above the "name" label inside the form border */
#name-input {
  padding-top:10px;
} 

/* adds margin to the top of "submit your review" */
#enter-rating{
  margin-top:5%;
}  

/* Form border styling */
.border-container {
  border-style:groove;
  border-width:1px;
  border-radius: 5px;
  width:65%;
  margin: 5% 17.5%;
  box-shadow: 3px 5px 9px #888888;  
}
 /* hover for stars */ 
#stars:hover {
  color:gold;
  cursor:pointer;
}

/* Sticky Footer */
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}
    
.copyright {
  padding-bottom: 2%;

}
