.select-wrapper {
    width:250px; 
    padding:20px;
}

.results {
    margin-top:100px;
}

.card1[data-clickable=true]{
    cursor: pointer;
    
  }


  h1, h3, h6 {
    /* font-family: 'Oswald', sans-serif; */
    font-family: 'Russo One';
  }

  header {
    font-family: arial;
    padding: 25px;
  }

  p {
    font-family: 'Nanum Gothic';

  }
  
 


  /*----------------------BRANDLOGO--------------*/
  .brand-logo {
    font: black;
    font-family: Arial, Helvetica;
  }
#name-input {
  padding-top:10px;
} 
#enter-rating{
  margin-top:5%;
}  
.border-container {
  border-style:groove;
  border-width:1px;
  border-radius: 5px;
  width:65%;
  margin: 5% 17.5%;
  box-shadow: 3px 5px 9px #888888;  
}

#stars:hover {
  color:gold;
}