.select-wrapper {
    width:250px; 
    padding:20px;
}

.results {
    margin-top:100px;
}

.card1[data-clickable=true]{
    cursor: pointer;
    
  }


  h1, h3, h6 {
    font-family: 'Oswald', sans-serif;
  }

  header {
    font-family: arial;
    padding: 25px;
  }

  p {
    font-family: 'Nanum Gothic', sans-serif;

  }
  .dropdwn {
      padding: 40px;
      margin-left: 20px;
  }

  /*----------------------BRANDLOGO--------------*/
  .brand-logo {
    font: black;
    font-family: 
  }
  
